<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('入库信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="config-form">
					<div class="select-list">
						<ul>
							<li>
								快递编码：<input type="text" name="enterExternalCode"/>
							</li>
							<li>
								供方出库编码：<input type="text" name="enterPartyCode"/>
							</li>
							<li>
								入库物料名称：<input type="text" name="itemName"/>
							</li>
							<li>
								入库状态：<select name="enterStatus" th:with="type=${@dict.getType('sys_enter_status')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
							</li>

							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:enter:add">
		            <i class="fa fa-plus"></i> 新增
		        </a>
		        <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:enter:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
		        <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:enter:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
		        <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:enter:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>
	        <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-table"></table>
	        </div>
	    </div>
	</div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:enter:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:enter:remove')}]];
        var transFlag = [[${@permission.hasPermi('system:checkout:add')}]];
        var datas = [[${@dict.getType('sys_enter_status')}]];
        var prefix = ctx + "system/enter";
		var newPrefix = ctx + "system/checkout";
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
				newCreateUrl: newPrefix + "/add",
                sortName: "enterStockCode",
		        sortOrder: "desc",
                modalName: "入库信息",
				newName: "一键出库",
                columns: [{
                    checkbox: true
                },
					{
						field: 'enterStockId',
						title: '入库主键',
						visible: false
					},
                {
                    field: 'enterStockCode',
                    title: '入库编号'
                },

                {
                    field: 'enterExternalCode',
                    title: '快递编号',
					visible: false
                },
					{
						field: 'enterPartyCode',
						title: '供货方出库编号'
					},
					{
						field: 'itemExternalCode',
						title: '物料外部编码',
						visible: false
					},
					{
						field: 'itemName',
						title: '物料名称'
					},
					{
						field: 'enterItemNum',
						title: '物料数量'
					},
					{
						field: 'enterStatus',
						title: '入库状态',
						align: 'center',
						formatter: function(value, row, index) {
							return $.table.selectDictLabel(datas, value);
						}
					},
					{
						field: 'warehosueInfo.warehouseAddress',
						title: '仓库地址'
					},

					{
						field: 'remark',
						title: '备注',
						visible: false
					},
				{
                    field: 'createTime',
                    title: '入库创建时间'
                },
				{
						field: 'createBy',
						title: '入库操作人'
				},
				{
					field: 'updateTime',
					title: '入库更新时间',
					visible: false
				},
				{
					field: 'updateBy',
					title: '入库更新人',
					visible: false
				},
					{
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.enterStockId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.enterStockId + '\')"><i class="fa fa-remove"></i>删除</a>');
						actions.push('<a class="btn btn-info btn-xs ' + transFlag + '" href="javascript:void(0)" onclick="$.operate.trans(\'' + row.enterStockCode + '\')"><i class="fa fa-chevron-circle-right"></i>一键出库</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

    </script>
</body>
</html>