<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>搜索结果</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body th:style="'background-image: url(/image/background2.jpg)'">
<!--导航   inverted 反转-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">宿迁百福特涂装设备有限公司</h2>
            <a href="#"  class="ui m-mobile-hide m-item item "><i class="home icon"></i>首页</a>
            <a href="#" class="ui m-mobile-hide m-item  item"><i class="idea icon"></i>分类</a>
            <a href="#" class="ui m-mobile-hide m-item  item"><i class="tags icon"></i>标签</a>
            <a href="#" class="ui m-mobile-hide m-item  item"><i class="book icon"></i>归档</a>
            <a href="#" class="ui m-mobile-hide m-item  item"><i class="info icon"></i>关于我们</a>
            <div class="ui m-mobile-hide m-item right item ">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="menu-toggle" class="ui m-mobile-show black icon button  m-right-top">
        <i class="sidebar icon"></i></a>


</nav>

<!--中间内容-->
<div class="m-padded-tb-large m-container">
    <div class="ui container">
        <!---header---->
        <div class="ui top attached segment">
            <div class="ui middle alighed two column grid">
                <div class="column">
                    <h3 class="ui teal header">搜索结果</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}"> 14 </h2>个
                </div>
            </div>
        </div>

        <div class="ui top attached teal segment">
            <div class="ui padded vertical segment m-padded-tb-large" th:each="article: ${page.content}">
                <div class="ui middle aligned mobile reversed stackable grid">
                    <div class="ui eleven wide column">
                        <h3 class="ui header"><a href="#" class="m-black"
                                                 th:href="@{article/{id}(id = ${article.id})}" target="_blank"
                                                 th:text="${article.title}">国内汽车行业的前世今生</a></h3>
                        <p class="m-text" th:text="|${article.description}......|">
                            1903年以前，中国没有汽车。直到1903年，美国制造的Osmo
                            Bill引入中国，这也是中国第一辆汽车。1928年，在张学良将军的支持下，中国开始尝试制造整车。在沈阳北大军工厂，我们通过模仿美国万国牌汽车成功地组装了整车，一年组装10辆。1929年，中国第一辆汽车在沈阳问世...</p>
                        <div class="ui grid">
                            <div class="ui eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://unsplash.it/100/100?image=1005"
                                             th:src="@{${article.user.avatar}}" alt="" class="ui avatar image">
                                        <div class="content"><a href="#" class="header"
                                                                th:text="${article.user.nickname}">唐伯虎怒点秋香</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i><span
                                            th:text="${#dates.format(article.updateTime,'yyyy-MM-dd')}">2201-01-01</span>
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i><span th:text="${article.views}">2342</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ui right aligned five wide column">
                                <a href="#" target="_blank"
                                   class="ui teal basic label m-padded-mini m-text-thin"
                                   th:text="${article.type.name}">认知升级</a>
                            </div>
                        </div>
                    </div>

                    <div class="ui five wide column">
                        <a href="#" th:href="@{article/{id}(id = ${article.id})}" target="_blank">
                            <img src="https://unsplash.it/800/450?image=1005" th:src="@{${article.picture}}"
                                 alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
        <div class="ui middle alighed two column grid">
            <div class="column">
                <a href="#" th:href="@{/admin/tags/(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
            </div>
            <div class="right aligned column">
                <a href="#" th:href="@{/admin/tags/(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
            </div>
        </div>
    </div>
</div>
</div>
    <br>
    <br>
    <br>


    <!--foot-->
    <footer  th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/image/me.jpg" alt="" class="ui rounded image" style="width:100px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新案例</h4>
                    <div class="item">
                        <div class="ui inverted link list">
                            <a href="#" class="item">Timmer传感器隔膜泵系统</a>
                            <a href="#" class="item">快速换色系统的解决方案</a>
                            <a href="#" class="item">关于机器人与供气设备的交互技术</a>
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我们</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">地址:江苏省宿迁市宿城区江苏财贸城</a>
                        <a href="#" class="item">电话:0512-57299995</a>
                        <a href="#" class="item">E-mail:chinabjf@126.com</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">关于我们</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">宿迁百福特是现中国知名的涂料设备供应商，公司成立于2008年，总部位于江苏省宿迁市。我们专注供漆设备自动化的实现以及在喷涂机器人上的应用，具备高精度，高效率，可定制化的能力。我们竭诚为您提供一系列场景解决方案。
                    </p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright©2021-2022 BFT All rights reserved.</p>
        </div>
    </footer>
    <th:block th:replace="_fragments::script">
<!--    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>-->
<!--    <script src="../static/js/me.js"></script>-->
    </th:block>
</div>
</body>
</html>